body {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgb(211, 219, 232);
}

.card {
  width: 300px;
  height: 330px;
  margin: auto;
  display: none;

  &-square {
    margin: auto;
    width: 50px;
    height: 50px;
    background-color: #404348;
    transform: translateX(-100vw);
  }

  &-wrap {
    display: flex;
    height: 100%;
  }

  &-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: #404348;
    z-index: 5;

    &__img {
      box-sizing: border-box;
      padding: 7px;
      width: 150px;
      height: 150px;
      border: 5px solid rgba(255, 255, 255, .4);
      border-radius: 50%;
      margin-bottom: 10px;
      transform: translateY(-100px);
      opacity: 0;
    }

    &__name {
      color: #fff;
      font-size: 22px;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 10px;
      position: relative;

      &-pseudo {
        top: 0;
        right: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fff;
      }
    }

    &__profession {
      color: rgba(255, 255, 255, .8);
      text-transform: uppercase;
      font-weight: 100;
      position: relative;

      &-pseudo {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background-color: #fff;
      }

      &--bold {
        font-weight: 500;
      }
    }
  }

  &-info {
    position: relative;
    overflow: hidden;
    width: 0;
    background-color: #33363B;
    transform: translateX(-600px);
    opacity: 0;

    &__arrow {
      display: block;
      content: '';
      width: 30px;
      height: 30px;
      background-color: #404348;
      transform: rotate(45deg);
      position: absolute;
      top: 50%;
      margin-top: -15px;
      margin-left: -20px;
      opacity: 0;
    }

    &-list {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 30px;

      &__point {
        margin: 7px 0;
        transition: all .3s;

        &:hover {
          letter-spacing: 2px;
          transform: scale(1.1);
        }
      }

      .fa {
        color: white;
        font-size: 20px;
        margin-right: 5px;
        float: left;
      }

      a {
        display: block;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}